{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    direction: rtl;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px 0;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('images/elevator.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(4, 20, 88, 0.989);
    text-align: center;

}
hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* خلفية شفافة غامقة */
    padding: 20px;
    border-radius: 12px;
}


.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

footer {
    background-color: #003366;
    color: rgb(17, 34, 144);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
content {
    padding: 40px 0;
    background-color: #fff;
}

.content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #003366;
}

.services-list {
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
    line-height: 2.2;
    max-width: 600px;
    margin: auto;
}
content {
    padding: 40px 0;
    background-color: #fff;
}

.content h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #003366;
}

.services-list {
    list-style: none;
    padding: 0 20px;
    font-size: 18px;
    line-height: 2.2;
    max-width: 600px;
    margin: auto;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 20px auto;
}

.contact-form label {
    font-weight: bold;
    color: #003366;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.contact-form button {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #005599;
}
.contact-form button:active {
    transform: scale(0.95);
}

.contact-info {
    margin-top: 30px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.contact-info p {
    font-size: 16px;
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.7s ease-out;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}